html {
    top: 0;
    height: 0;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: url(../img/bg.jpg) no-repeat center center #fff;
    background-size: 100%;
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

a:link {
    color: #CF7F18;
}

a:visited {
    color: #AD660C;
}

a:hover,
a:focus {
    color: #FF9814;
    text-decoration: none;
}

p {
    margin: 1em 0;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin-top: -0.05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #9CA716;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

ol,
ul {
    margin: 1em 0 1em 2em;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol li {
    list-style: decimal
}

ol li ol li {
    list-style: upper-alpha;
}

ol li ol li ol li {
    list-style: upper-roman;
}

ul li {
    list-style: disc;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

em strong,
strong em {
    font-weight: bold;
    font-style: italic;
}

dt {
    font-weight: bold;
}

#container {
    display: block;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0%;
    margin: 5px 0 0 0;
    border: solid #E69623;
    border-width: 3px 0 0 0;
    opacity: 0.80;
    -moz-opacity: 0.30;
    filter: alpha(opacity=90);
}

#logo {
    display: block;
    position: absolute;
    width: 44px;
    height: 40px;
    background: url(../img/logo.png) no-repeat 0 0;
    left: 1%;
    margin: 0 0 0 0px;
    top: 10px;
    overflow: hidden;
    text-indent: 999em;
    line-height: 999em;
}

#content {
    z-index: 10;
    position: relative;
    display: block;
    width: 80%;
    left: 10%;
    margin: 0 0 0 0px;
    padding: 15px 0;
    top: 60px;
}

#footer {
    position: absolute;
    bottom: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    left: 0;
    font-size: 9px;
}
/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */
/* ----[ LINKS ]----*/
/* all menu links */

#nav a,
#subMenusContainer a {
    text-decoration: none;
    display: block;
    padding: 8px 18px;
    background-color: #fff;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/

#nav a {
    margin: 0;
    float: left;
}
/* Just sub menu links */

#subMenusContainer a,
#nav li li a {
    text-align: left;
}
/* All menu links on hover or focus */

#nav a:hover,
#nav a:focus,
#subMenusContainer a:hover,
#subMenusContainer a:focus,
#nav a.mainMenuParentBtnFocused,
#subMenusContainer a.subMenuParentBtnFocused {
    background-color: #F6C739;
    color: #FFF;
}
/* sub menu links on hover or focus */

#subMenusContainer a:hover,
#subMenusContainer a:focus,
#nav a.mainMenuParentBtnFocused,
#subMenusContainer a.subMenuParentBtnFocused,
#nav li a:hover,
#nav li a:focus {
    background-color: #F6C739;
    color: #FFF;
}
/* Parent Sub Menu Links ---[javascript users only]*/

.subMenuParentBtn {
    background: url(../img/arrow_right.gif) right center no-repeat;
}
/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/

.subMenuParentBtnFocused {
    background: url(../img/arrow_right_over.gif) right center no-repeat;
}
/* Parent Main Menu Links ---[javascript users only]*/

.mainMenuParentBtn {
    background: url(../img/arrow_down.gif) right center no-repeat;
}
/* Parent Main Menu Links on hover or focus ---[javascript users only]*/

.mainMenuParentBtnFocused {
    background: url(../img/arrow_down_over.gif) right center no-repeat;
}
/* ----[ OLs ULs, LIs, and DIVs ]----*/
/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */

.smOW {
    display: none;
    position: absolute;
    overflow: hidden;
    /*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
    
    padding: 0 2px;
    margin: 0 0 0 -2px;
}
/* All ULs and OLs */

#nav,
#nav ul,
#nav ol,
#subMenusContainer ul,
#subMenusContainer ol {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1em;
}
/* All submenu OLs and ULs */

#nav ol,
#nav ul,
#subMenusContainer ul,
#subMenusContainer ol {
    /*border around submenu goes here*/
    
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #fff;
    border: 1px solid #C3D46A;
    left: 0;
}
/* List items in main menu --[for non-javascript users this applies to submenus as well]  */

#nav li {
    /*great place to use a background image as a divider*/
    
    display: block;
    list-style: none;
    position: relative;
    float: left;
}

#subMenusContainer li {
    list-style: none;
}
/* main menu ul or ol elment */

#nav {
    display: block;
    position: absolute;
    list-style: none;
    margin: 0 0 0 0;
    z-index: 15;
    top: 15px;
    left: 7%;
    text-align: center;
    display: block;
}

#subMenusContainer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: visible;
    z-index: 1000000000;
}
/* --------------------------[ The below is just for non-javscript users ]--------------------------*/

#nav li li {
    float: none;
}

#nav li li a {
    /* Just submenu links*/
    
    position: relative;
    float: none;
}

#nav li ul {
    /* second-level lists */
    
    position: absolute;
    width: 10em;
    margin-left: -1000em;
    /* using left instead of display to hide menus because display: none isn't read by screen readers */
    
    margin-top: 2.2em;
}
/* third-and-above-level lists */

#nav li ul ul {
    margin: -1em 0 0 -1000em;
}

#nav li:hover ul ul {
    margin-left: -1000em;
}
/* lists nested under hovered list items */

#nav li:hover ul {
    margin-left: 0;
}

#nav li li:hover ul {
    margin-left: 10em;
    margin-top: -2.5em;
}
/* extra positioning rules for limited noscript keyboard accessibility */

#nav li a:focus + ul {
    margin-left: 0;
    margin-top: 2.2em;
}

#nav li li a:focus + ul {
    left: 0;
    margin-left: 1010em;
    margin-top: -2.2em;
}

#nav li li a:focus {
    left: 0;
    margin-left: 1000em;
    width: 10em;
    margin-top: 0;
}

#nav li li li a:focus {
    left: 0;
    margin-left: 2010em;
    width: 10em;
    margin-top: -1em;
}

#nav li:hover a:focus {
    margin-left: 0;
}

#nav li li:hover a:focus + ul {
    margin-left: 10em;
}